<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= stylesheet_link_tag "event_calendar" %>

<h1>Calendar</h1>

<%= form_tag(master_data_show_federations_path, :method=>'get', :remote => :true) do %>
  <%= text_field_tag :date_picker_test %>
<% end -%>

<%= raw(event_calendar) %>
