<p>
<div class="term">
   <span class="term_term">
      <%= link_to term.term, edit_term_path(term) %> 
   </span>
   <span class="term_term_translated">
      <%= term.term_translated %> 
      <% if can_edit_studio %>
         [<%= link_to "X", 
                 term, 
                 :method => :delete, 
                 :confirm => "Are you sure you want to delete #{term.term}?",
                 :title => "Delete #{term.term}" %>]
     <% end %>
   </span>
   <br />
   <% unless term.description.nil? %>
      <div class="term_description">
         <span class="term_term_description">
            <%= term.description %> 
         </span>
      </div>
   <% end %>
</div>
</p>