<h1>MasterData#show_styles</h1>

<%= form_tag(master_data_show_federations_path, :method=>'get', :remote => true) do %>
   <%= select_tag "master_style_id", options_for_select(@styles.collect { |s| [s.name, s.id] }) %>
   
   <%= submit_tag "Find" %>
<% end -%>

<div id="master_federations">
   
</div>

