<div id="calendar_entry_header" class="calendar_entry_header">
   <% if @event.class == RepeatingEvent %>
      Repeating Event
   <% else %>
      <%= calendar_date_header(@event.starts_at) %>
   <% end %>
</div>
