<h1><%= site_name %></h1>

<p>
<ul>
   <li>Here's what you do:
      <ol>
         <li>Sign up - you'll be done in 30 seconds</li>
         <li>Setup your terminology...since you'll probably import most of it, you might spend 5 minutes</li>
         <li>Setup your calendar - it's easy but you if you have a lot of classes, well, great for you, but it might take a couple of minues</li>
         <li>Copy the terminology and calendar links to your web site.  The info automatically appears, always updated immediately</li>
         <li>Let your students know.  They can download your iPhone app too which makes you look like a big studio</li>
         <li>Relax.  Enjoy.  :)</li>
      </ol>
   </li>
</ul>
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
