<h1><%= site_name %></h1>

<p>
  This is the home page for the
  site.
</p>

<ul>
   <li>
      Explanation of setup/signup process
      <ol>
         <li>Create account</li>
         <li>Import terminology</li>
         <li>Add class schedule</li>
         <li>Put links onto their own site</li>
      </ol>
   </li>
   <li>
      Create a setup wizard for new studios
   </li>
</ul>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
