<li>
   <%= link_to term_group.name, term_library_show_terms_path(:master_term_group_id => term_group.id), :remote => true %>
   
   <span id="term_group_<%= term_group.id %>">
      <% if term_group.id.to_i == @master_term_group_id.to_i %>
         <%= render :partial => 'term_library/terms' %>
      <% end %>
   </span>

</li>
