    <li>
      <%= gravatar_for studio, :size => 30 %>
      <%= link_to studio.name, studio %>

      <% if current_studio.admin? %>
      | <%= link_to "delete", 
            studio, 
            :method => :delete, 
            :confirm => "Are you sure you want to delete '#{studio.name}'?",
            :title => "Delete #{studio.name}" %>
      <% end %>

    </li>
